header{
    vertical-align: baseline;
}
body{
background-color: rgb(181, 220, 232);
color: rgb(255, 111, 0);
line-height: 2; 
}

H1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    font-size: 64px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
    color: red;
    font-size: 32px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 255, 4);
    font-size: 24px;
}
p{
    line-height:1.6;
}
img{
    border: 5px solid orange;
    padding: 10px;
    margin: 20px;
}
ul{
    display: inline-block;
    margin-left: 50px;
}
nav{
    border: 2px solid black;
    background-color: lightgrey;
    align-content: center;
    display: block;
}
header li{    display: inline-block;
    height: 50px;
    color: rgb(220, 20, 197);}
nav li{
    background-color:transparent;
    padding: 25px;
    font-size: 20px;
    margin:auto;
}
#skip{
    position: absolute;
    top: -40px;
  }
#skip:focus{
    top:20px
}
.pets{display:grid;
    grid-template-columns: 1fr 1fr;
}

/* .container{
    display: grid;
    grid-template-columns: 300px 500px 300px;
    grid-template-columns: 20% 40% 200%;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: space-between;
} */
/* .btn {
    background: #2cc96d;
    background-image: -webkit-linear-gradient(top, #2cc96d, #148dd9);
    background-image: -moz-linear-gradient(top, #2cc96d, #148dd9);
    background-image: -ms-linear-gradient(top, #2cc96d, #148dd9);
    background-image: -o-linear-gradient(top, #2cc96d, #148dd9);
    background-image: linear-gradient(to bottom, #2cc96d, #148dd9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 29px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fcec3c;
    background-image: -webkit-linear-gradient(top, #fcec3c, #d93434);
    background-image: -moz-linear-gradient(top, #fcec3c, #d93434);
    background-image: -ms-linear-gradient(top, #fcec3c, #d93434);
    background-image: -o-linear-gradient(top, #fcec3c, #d93434);
    background-image: linear-gradient(to bottom, #fcec3c, #d93434);
    text-decoration: none;
  } */